/*=============== HOME ===============*/
.home{
   &__article{
      position: relative;
      padding-top: 12rem;
      width: 100%;
      height: 100vh;
   }
   &__panel-1{
      width: 100%;
      height: 40%;
      background-color: var(--color-car);
      position: absolute;
      left: 0;
      top: 0;
   }
   &__panel-2{
      width: 100%;
      height: 60%;
      background-color: var(--black-color);
      position: absolute;
      left: 0;
      bottom: 0;
   }
   &__content{
      position: relative;
      height: 100%;
      display: grid;
      align-content: space-between;
      z-index: 1;
   }
   &__data{
      position: relative;
   }
   &__titles{
      width: max-content;
      margin-inline: auto;
   }
   &__subtitle{
      font-size: var(--big-font-size);
      font-family: var(--second-font);
   }
   &__title{
      font-size: var(--biggest-font-size);
   }
   &__img{
      max-width: initial;
      width: 400px;
      position: absolute;
      left: 0;
      bottom: -7.5rem;
      transform: translateX(10rem);
      opacity: 0;
      transition: transform .8s .3s, opacity .4s .3s;
   }
   &__info{
      padding-bottom: 3rem;
      text-align: center;
      display: grid;
      row-gap: 2rem;
   }
   &__specs{
      display: flex;
      justify-content: center;
      column-gap: 1.5rem;
      font-weight: var(--font-semi-bold);
      color: var(--color-car);
   }
   &__button{
      display: inline-flex;
      justify-self: center;
      align-items: center;
      column-gap: .5rem;
      border: 2px solid var(--color-car);
      padding: .75rem 1.5rem;
      border-radius: 4rem;
      color: var(--color-car);
      
      & span{
         font-weight: var(--font-semi-bold);
      }
      & i{
         font-size: 1.5rem;
         transition: transform .4s;
      }
      &:hover i{
         transform: translateX(.5rem);
      }
   }
   &__interaction{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
   }
   &__social{
      position: absolute;
      top: 4rem;
      left: 1.5rem;
      display: grid;
      justify-items: center;
      row-gap: .75rem;
      z-index: 10;

      &-link{
         font-size: 1.25rem;
         color: var(--black-color);
      }
      &-border{
         width: 2px;
         height: 88px;
         background-color: var(--white-color);
         margin-bottom: .75rem;
      }
   }
}

/* Swiper class */
.swiper{
   height: 100vh;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
   top: 65%;
   bottom: initial;
   display: flex;
   justify-content: center;
   column-gap: .5rem;
}

.swiper-pagination-bullet{
   width: 2rem;
   height: 2rem;
   font-size: var(--small-font-size);
   font-weight: var(--font-semi-bold);
   color: var(--white-color);
   opacity: 1;
   align-content: center;
   background: none;
}

.swiper-pagination-bullet-active{
   border: 2px solid var(--white-color);
}

/* Swiper animation */
.swiper-slide-active .home__img{
   transform: translateX(0);
   opacity: 1;
}
